{% extends 'base.html.twig' %}

{% block title %}New Conteiner{% endblock %}

{% block body %}
    <h1>Create new Conteiner</h1>

    {{ include('conteiner/_form.html.twig') }}

    <a href="{{ path('conteiner_index') }}">back to list</a>
{% endblock %}
